@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
    /* background-color: #E9E9D0; */
    background-color: #CECEB5;
    font-family: 'Dancing Script', cursive;
}
header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
}

h1 {
    text-align: center;
    font-size: 520%;

}

.navbar {
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
  }
  .menu > li > a {
    padding: 15px 20px;
    color: white;
  }
  .menu > li > a:hover {
    color: green;
  }

  .populares {
      padding-top: 10rem;
      margin: auto;
      font-size: 150%;
  }

  .card-img-top {
    height: 500px;
    object-fit:cover;
  }

  .populares > h3  {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    font-size: 320%;
   }

   footer {
    max-width: 100%;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    grid-area: footer;
  }
  .footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
  }
  
  .footer > div > a{
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }
  footer > h3 {
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .redSocial a:hover{
    color: green;
  }
  .icon{
    font-size: 40px;
  }

  .medidas {
    font-size: 150%;
  }

  .subiReceta{
    font-size: 150%;
  }

  .contacto{
    font-size: 150%;
  }

  .imgCarousel {
    height: 500px;
    object-fit: fill;
}