@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
    /* background-color: #E9E9D0; */
    background-color: #CECEB5;
    font-family: 'Dancing Script', cursive;
}
header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
}

h1 {
    text-align: center;
    font-size: 620%;
    padding-top: 1.875rem;

}

.nav-con {
justify-content: space-around;
}

.navbar {
    background-color: #333;
    font-size: 1.5625rem;
    margin-top: 3.125rem;
    
  }

  .menu > li > a {
    color: white;
  }
  .menu > li > a:hover {
    color: green;
  }

  .populares {
      padding-top: 1.25rem;
      margin: auto;
      font-size: 150%;
  }

  .card-body{
    background-color: #3F7C17;
    height: 10.625rem;
  }

  .card-img-top {
    height: 31.25rem;
    object-fit:cover;
  }

  .card-con{
    padding-bottom: 1.25rem;
  }

  .populares > h3  {
    text-align: center;
    color: black;
    margin-bottom: 3.125rem;
    font-size: 320%;
   }

   footer {
    max-width: 100%;
    background-color: #333;
    font-size: 1.25rem;
    margin-top: 3.125rem;
    grid-area: footer;
  }
  .footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
  }
  
  .footer > div > a{
    display: inline-block;
    padding: 0.9375rem 1.25rem;
    color: white;
    text-decoration: none;
  }
  footer > h3 {
    text-align: center;
    color: white;
    font-size: 2.1875rem;
  }
  .redSocial a:hover{
    color: green;
  }
  .icon{
    font-size: 2.5rem;
  }

  .medidas {
    font-size: 200%;
    text-align: center;
  }
  .medidas > h2 {
    font-size: 320%;
  }

  .subiReceta{
    font-size: 150%;
  }

  .contacto{
    font-size: 150%;
  }

  .imgCarousel {
    height: 31.25rem;
    object-fit: fill;
}